<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" name="title" placeholder="Post Title" [ngModel]="post?.title" required minlength="3"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" placeholder="Post Content" [ngModel]="post?.content" required
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter content.</mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
