<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Candidate's name">
      <mat-error *ngIf="form.get('title').invalid">Please enter candidate's name.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick photo</button>
      &nbsp;<small>{{ filename }}</small>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="About this candidate"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter his/her summary.</mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">Save Entry</button>
  </form>
</mat-card>
